body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

#start-screen {
  padding-top: 100px;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 3px solid #fff;
  background-color: #2a2a2a;
}

#hud {
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.hidden {
  display: none;
}